body{   
    background-color: rgb(103, 169, 185);
    }
h1{
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    }
p{
    color: rgb(17, 17, 75);
    font-size: 20px;
    text-align: justify;
    margin: 90px 50px;
    /*margen horizontal y vertical*/
    }
/*siempre predomina la class o clase sobre otras*/
.clase2{
    color: rgba(4, 4, 138, 0.979);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    }
.clase3{
    color: rgb(154, 154, 236);
    font-size: 20px;
    }
/* legalizar un color para llamarlo en el body por ejemplo en h1 class=color1*/
.color1{
    color: rgb(230, 27, 169);
    }
    .div1{background-color: rgb(241, 229, 229);}
    table{
        border-width: 2px;
        border-style: solid;
        border-color: black;
        border-top: 4xp solid steelblue;
        border-radius: 10px;

        /* border: 2px solid black; Permite agregar varias caracteristicas tamaño solidez color */
    }
    /* para agregar los bordes internos, se usaria elemento "table" y subelemento"tr" */
    table,tr,td,th{
        border-width: 2px;
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        border-collapse: collapse;
    }
   .tabla1{
       background-color: ivory;
       }
    .celda2 {
    background-color: lightgreen;
    }